body {
	margin: 0;
	padding: 0;
	background-color: #dfe4ea;
}

* {
	margin: 0;
}

.lander {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.me {
	border-radius: 50%;
	height: 180px;
}

.name {
	font-size: 3.1em;
	font-weight: 300;
}

.desc {
	margin-top: 0.9em;
	font-size: 1.2em;
	font-weight: 300;
}

@media (max-width: 700px) {
	.me {
		height: 160px;
	}

	.name {
		font-size: 2.6em;
	}
	
	.desc {
		font-size: 1em;
		margin-top: 0.8em;
		font-weight: 400;
	}
}

@media (max-width: 580px) {
	.name {
		font-size: 2.1em;
		font-weight: 400;
	}
	
	.desc {
		font-size: 1em;
		margin-top: 0.8em;
		font-weight: 400;
	}
}