body {
	margin: 0;
	padding: 0;
	background-color: #dfe4ea;
}

* {
	margin: 0;
}

.lander {
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.me {
	border-radius: 50%;
	height: 180px;

}

.name {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 3em;
}