body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

header {
	position: fixed;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	background: #302727;
  	width: 280px;
  	padding: 1em;
  	color: white;
  	text-align: center;
}

.me {
	width: 150px;
	border-radius: 50%;
	padding: 3rem;
	margin-bottom: -4rem;
}

.name {
	font-size: 220%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.nav-list {
	list-style-type: none;
	padding: 0.3em;
}

.nav-list > li {
	padding: 0.7em;
	font-weight: 300;
	font-size: 120%;
}

.nav-list > li:hover {
 	background: #3027279e;
 	font-weight: 400;
 	box-shadow: black 3px 3px;
}

.content {
	margin: 0 140px 0 310px;
	padding: 1rem;
}

footer {
	position: fixed;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	background: #302727;
  	width: 80px;
  	padding: 2em;
  	text-align: center;
  	color: white;
}

.foot-links {
	list-style-type: none;
	display: grid;
	grid-template-rows: auto auto auto auto auto;
	padding: 0.3em;
}

.foot-links > li {
	padding: 0.7em;
	font-size: 180%;
}

@media (max-width: 1000px) {
	header, .content, footer {
	position: static;
    display: block;
    margin: 0;
    width: inherit;
	}
	.nav-list > li {
		display: inline-block;
		padding: 0.7em;
	}
	.nav-list > li:hover {
		box-shadow: black 1px 1px;
	}
	.foot-links {
		display: inline-block;
	}
}