body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

header {
	position: fixed;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	background: #302727;
  	width: 280px;
  	padding: 1em;
  	color: white;
  	text-align: center;
}

ul > a {
	text-decoration: none;
	color: white;
}

.header-container {
/*	margin-top: 50%;*/
}

.me {
	width: 150px;
	border-radius: 50%;
	padding: 3rem;
	margin-bottom: -4rem;
}

.name {
	font-size: 220%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.nav-list {
	list-style-type: none;
	padding: 0.3em;
}

.nav-list-links {
	padding: 0.7em;
	font-weight: 300;
	font-size: 120%;
}

.nav-list-links:hover {
 	background: #3027279e;
 	font-weight: 400;
 	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.content {
	margin: 0 140px 0 310px;
	padding: 1rem;
}

footer {
	position: fixed;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	background: #302727;
  	width: 80px;
  	padding: 2em;
  	text-align: center;
  	color: white;
}

.footer-container {
	margin-top: 5em;
}

.foot-links {
	list-style-type: none;
	display: grid;
	grid-template-rows: auto auto auto auto auto;
	padding: 0.3em;
	font-size: 180%;
}

.foot-list-links {
	padding: 0.7em;
}

.foot-list-links:hover {
 	background: #3027279e;
 	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@media (max-width: 1000px) {
	header, .content, footer {
	position: static;
    display: block;
    margin: 0;
    width: inherit;
	}
	.nav-list-links {
		display: inline-block;
		padding: 0.7em;
	}
	.foot-links {
		display: inline-block;
	}
	.footer-container {
		margin-top: inherit;
	}
}

#center-name {
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
}

#center-desc {
	font-family: 'Montserrat', sans-serif;
}

.line-break {
	height: 2px;
	background-color: #636e72;
}

span {
	font-weight: bold;
}
