body { 
   background: url(nb.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 100px) and (max-width: 500px) {
  body {
    background: url(nbm.jpg) no-repeat center center fixed;
  }
}
#first {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 80px;
	padding: 0px;
	margin-top: 175px;
	color: #2c3e50;
}

#second {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	font-size: 90px;
	margin-top: -110px;
	color: #2c3e50;
}

#desc {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 45px;
	margin-top: -100px;
}

#desc p {
	display: inline;
}

#f {
	color: #e67e22;
	font-weight: 200;
}

#s {
	color: #7f8c8d;
	font-weight: 200;
}

#t {
	color: #138808;
	font-weight: 200;
}



