body { 
   background: url(nb.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
	text-decoration: none;
}

ul{
	list-style-type: none;
	text-align: center;
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}


li {
	display: inline-block;
	text-align: center;
	padding: 0 25px 0 25px;
	font-size: 35px;
	opacity: 0.8;
	transition: opacity 0.2s;
}

li:hover {
	opacity: 1;
	transition: opacity 0.2s;
	text-shadow: 1px 1px;
}

#first {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 80px;
	padding: 0px;
	margin-top: 170px;
	color: #2c3e50;
	animation-delay: 0.5s;
}

#second {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 82px;
	margin-top: -113px;
	color: #2c3e50;
	animation-delay: 0.5s;
}

#desc {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 45px;
	margin-top: -100px;
}

#desc p {
	display: inline;
}

#f {
	color: #636e72;
	font-weight: 200;
	animation-delay: 1s;
}

#s {
	color: #636e72;
	font-weight: 200;
	animation-delay: 1.5s;
}

#t {
	color: #636e72;
	font-weight: 200;
	animation-delay: 2s;
}

.fa-twitter {
	color: #48dbfb;
	animation-delay: 2.5s;
}

.fa-youtube {
	color: #ee5253;
	animation-delay: 2.5s;
}

.fa-envelope-o {
	color: #576574;
	animation-delay: 2.5s;
}

.fa-instagram {
	color: #5f27cd;
	animation-delay: 2.5s;
}

@media (min-width: 50px) and (max-width: 500px) {

  body {
    background: url(nbm.jpg) no-repeat center center fixed;
  }

  #first {
  	font-size: 57px;
  	margin-top: 190px;
  }

  #second {
  	font-size: 59.43px;
  	margin-top: -73px;
  }

  #desc {
  	font-size: 30.937px;
  	margin-top: -60px;
  }

  ul{
	margin-top: 20px;
}


li {
	display: inline-block;
	text-align: center;
	padding: 0 17.187px 0 17.187px;
	font-size: 24.06px;
	opacity: 0.8;
	transition: opacity 0.2s;
}

}



